    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-0" >
                    <div class="header__logo" style="margin-right: 10%;margin-top: -10%;">
                        <a href="./index.html" >
                            <img src="assets/img/logomovie.png" alt="" style="height: 50px;width: 150px;">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8" style="margin-left: 3%;">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="./index.html">Homepage</a></li>
                                <li><a>Categories <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="/action">Action</a></li>
                                        <li><a href="/horror">Horror</a></li>
                                        <li><a href="/romantic">Romantic</a></li>
                                        <li><a href="/anime">Anime</a></li>
                                    </ul>
                                </li>
                                <li><a href="/serie">Series</a></li>
                                <li><a href="/blog">Our Blog</a></li>
                                <li><a href="/contact">Contacts</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="/signin"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>