

    <app-nav></app-nav>

    <!-- Anime Section Begin -->
   
        <div class="container" style="margin-top: 7%;">
            <div class="anime__details__content" *ngFor="let movie of movie">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg"><img src="assets/images/{{movie.img}}" alt="">
                            
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3>{{movie.nameFilm}} <p>({{ep.nameEpisode}})</p></h3>
                            </div>
                            <p>{{movie.description}}</p>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Date aired:</span>{{ep.dateAired}} </li>
                                            <li><span>Genre:</span> {{movie.genre}}</li>
                                            <li><span>Score:</span>{{ep.score}} </li>
                                            <li><span>Quality:</span>{{ep.quality}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                   
                        <video src="assets/images/{{ep.video}}" controls width="1000px" height="700px" type="video/mp4" style="margin-top: 7%;margin-left: 5%;"> </video>
   
                    </div>
                </div>
            
            </div>
            
        <!-- Anime Section End -->


 



