    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-0" >
                    <div class="header__logo" style="margin-right: 10%;margin-top: -10%;">
                        <a href="./index.html" >
                            <img src="assets/img/logomovie.png" alt="" style="height: 50px;width: 150px;">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8" style="margin-left: 3%;">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="/home-admin">Homepage</a></li>
                                <li><a>Categories <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="/action-admin">Action</a></li>
                                        <li><a href="/horror-admin">Horror</a></li>
                                        <li><a href="/romantic-admin">Romantic</a></li>
                                        <li><a href="/anime-admin">Anime</a></li>
                                    </ul>
                                </li>
                                <li><a href="/serie-admin">Series</a></li>
                                <li><a href="/blog-admin">Our Blog</a></li>
                                <li><a href="/contact-admin">Contacts</a></li>
                            
                                
                                <li><a><span style="font-size: 20px;">&#x2b; </span> <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="/add-movie">Movie</a></li>
                                        <li><a href="/add-serie">Serie</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
               
                <div class="col-lg-2" style="margin-top: 5px;">
                    <div class="header__right">
                        
                        <!-- <a href="/add-movie" ><span style="font-size: 20px;">&#x2b; </span></a> -->
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href=""><i  class="fa fa-sign-out" style="color: blanchedalmond;"></i></a>
                        
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>