<app-nav-admin></app-nav-admin>




    <div class="product spad"  style="margin-left: 20%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product"  >
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6" >
                                <div class="section-title">
                                    <h4>Horror</h4>
                                </div>
                            </div>
                        </div>
    <div class="row" >
        <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let horror of horror">
     
                <div class="product__item__pic set-bg" ><a (click)="film(horror._id)"><img src="assets/images/{{horror.img}}" alt=""></a>
                    <div class="ep">{{horror.score}} / 10</div>
                  
                </div>
        
                <div class="product__item__text">
                    <h5 style="text-align: center;"><a (click)="film(horror._id)">{{horror.nameFilm}}</a></h5>
                </div>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
    </div>