    <!-- Header Section Begin -->
    <header class="header">

        <div class="container">

            <div class="row">
                <div class="col-lg-0" >
                    <div class="header__logo" style="margin-right: 10%;margin-top: -10%;">
                        <a href="./index.html" >
                            <img src="assets/img/logomovie.png" alt="" style="height: 50px;width: 150px;">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8" style="margin-left: 3%;">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="./index.html">Homepage</a></li>
                                <li><a>Categories <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="/action">Action</a></li>
                                        <li><a href="/horror">Horror</a></li>
                                        <li><a href="/romantic">Romantic</a></li>
                                        <li><a href="/anime">Anime</a></li>
                                    </ul>
                                </li>
                                <li><a href="/serie">Series</a></li>
                                <li><a href="/blog">Our Blog</a></li>
                                <li><a href="/contact">Contacts</a></li>
                            </ul>

                        </nav>
                    </div>

                </div>

                <div class="col-lg-2">
                    <div class="header__right">
 
                            <input style="margin-right: 6%;" id="searchbar"type="text"
                            name="search" placeholder="Search film.." [(ngModel)]="searchText" autocomplete="off">
                     
                        <a href="/signin"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Hero Section Begin -->
    <div class="hero__items set-bg" style="background-image: url('assets/img/hero/hero-1.jpg');">
        <div class="row">
            <div class="col-lg-2">
                <div class="hero__text">
                    <div class="label">Adventure</div>
                    <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                    <p>After 30 days of travel across the world...</p>
                    <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Section End -->


    <div class="product spad" style="margin-left: 20%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product"  >
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8" >
                                <div class="section-title">
                                    <h4>Action</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="/action" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row" >
                            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let movies of movies | filter:searchText">
                                
                                    <div class="product__item__pic set-bg" ><a (click)="film(movies._id)"><img src="assets/images/{{movies.img}}" alt=""></a>
                                        <div class="ep">{{movies.score}} / 10</div>
                                    </div>
                                    <div class="product__item__text">
                                        <h5 style="text-align: center;"><a (click)="film(movies._id)">{{movies.nameFilm}}</a></h5>
                                    </div>
                              
                            </div>
                        </div>
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Horror</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="/horror" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let horror of horror">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg"><a (click)="film(horror._id)"><img src="assets/images/{{horror.img}}" alt=""></a>
                                        <div class="ep">{{horror.score}} / 10</div>
                                    </div>
                                    <div class="product__item__text">
                                        <h5 style="text-align: center;"><a (click)="film(horror._id)">{{horror.nameFilm}}</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Romantic</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="/romantic" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let romantic of romantic">
                                
                                    <div class="product__item__pic set-bg"><a (click)="film(romantic._id)"><img src="assets/images/{{romantic.img}}" alt=""></a>
                                        <div class="ep">{{romantic.score}} / 10</div>
                                    </div>
                                    <div class="product__item__text">
                                        <h5 style="text-align: center;"><a (click)="film(romantic._id)">{{romantic.nameFilm}}</a></h5>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Anime</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="/anime" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let anime of anime">
                               
                                    <div class="product__item__pic set-bg"><a (click)="film(anime._id)"><img src="assets/images/{{anime.img}}" alt=""></a>
                                        <div class="ep">{{anime.score}} / 10</div>
                                    </div>
                                    <div class="product__item__text">
                                        <h5 style="text-align: center;"><a (click)="film(anime._id)">{{anime.nameFilm}}</a></h5>
                                    </div>
                              
                            </div>
                        </div>
                    </div>
                </div>


</div>
</div>
</div>